<%- include("partials/header") -%>

    <h1><%=postTitle%></h1>
    <p><%=postContent%></p>

    <div class="mt-5">
        <a href="/"><button class=" btn btn-lg btn-primary">Go Home</button></a>
    </div>
<%- include("partials/footer") -%>